
<h2>Restablecer contraseña</h2>

<form action="/views/recuperoTk" method="post">


<label for="">Ingrese su email</label>

<input type="email" name="email" id="email"> 
<input type="submit" value="Restablecer">               

</form>