<ul class="menu">
    <li>
        <a href="/views">Home</a>
    </li>
    <li>
        <a href="/views/products">Products</a>
    </li>
    
    <li>
        <a href="/views/perfil">Perfil</a>
    </li>
    <li>
        <a href="/views/registro">Registro</a>
    </li>


    <li>
        <a href="/views/login">Login</a>
    </li>
    <li>
        <a href="/api/session/logout">Logout</a>
    </li>

</ul>